

/* DESTINATION PAGES GENERAL */

.destination_header {
    color: white;
    font-size: 72px;
    padding-top: 98px;
    margin-left: 70px;
}


.destination_page-cards {
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
}



/* DAY CARDS */

.destination_friday-card {
    margin-left: 70px;
    border: 2px solid white;
    background-color: white;
    width: 240px;
    text-align: center;
}

.destination_saturday-card {
    margin-left: -250px;
    border: 2px solid white;
    background-color: white;
    width: 240px;
    text-align: center;
}

.destination_sunday-card {
    margin-left: -250px;
    border: 2px solid white;
    background-color: white;
    width: 240px;
    text-align: center;
}


.destination_heading {
    font-size: 20px;
    margin-top: 8px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
    border-bottom: 2px solid black;
}

.destination_sched {
    list-style-type: none;
}


.destination_list {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 25px;
    margin-right: 10px;
    margin-left: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
    border: 2px solid #FEFAF5;
    background-color: #FEFAF5;
}


.destination_last-item {
    margin-bottom: 55px;
}



/* BACKGROUND PAGES */

.destination_page-hawaii {
    background-image: url(../assets/images/hawaii.jpg);
    background-size: cover;
    background-position: center;
    padding-bottom: 120px;
}


.destination_page-iceland {
    background-image: url(../assets/images/iceland.jpg);
    background-size: cover;
    background-position: center;
    padding-bottom: 120px;
}


.destination_page-greece {
    background-image: url(../assets/images/greece.jpg);
    background-size: cover;
    background-position: center;
    padding-bottom: 120px;
}


