
* {
    margin: 0;
    padding: 0;
    font-family: Verdana;
}



/* NAV BAR */

.nav_top-bar {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    padding-top: 5px;
    border: 1px solid #FFFFFF;
    background-color: #FFFFFF;
    padding-bottom: 18px;
}


.nav_top-left {
    flex: 1;
    margin-top: 7px;
}


.nav_top-right {
    flex: 2;
    margin-left: 650px;
    margin-top: 7px;
    display: flex;
}


.nav_right-menu {
    list-style-type: none;
    display: flex;
}


.nav_menu-items {
    flex-direction: column;
    display: flex;
}



.nav_top-logo {
    color: #335576;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    margin-left: 70px;
}


.nav_top-links {
    color: black;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    margin-left: 8px;
    margin-right: 8px;
}



/* NAV LINK UNDERLINES */

.nav_home-link {
    border-bottom: 3px solid #DB7A4E;
    padding-bottom: 4px;

}

.nav_greece-link {
    border-bottom: 3px solid #DB7A4E;
    padding-bottom: 4px;
}

.nav_hawaii-link {
    border-bottom: 3px solid #DB7A4E;
    padding-bottom: 4px;
}

.nav_iceland-link {
    border-bottom: 3px solid #DB7A4E;
    padding-bottom: 4px;
}



/* FOOTER BAR */

.footer_bar {
    border: 2px solid #FEFAF5;
    background-color: #FEFAF5;
    padding-bottom: 30px;
    bottom: 0px;
}


.footer_bar-section {
    margin-top: 40px;
    display: flex;
}


.footer_contact {
    margin-left: 200px;
    flex: 1;
}


.footer_hours-one {
    flex: 4;
    margin-left: 70px;
    margin-right: 20px;
}


.footer_hours-two {
    box-sizing: border-box;
    flex: 5;
    margin-top: 28px;
    margin-left: -20px;
}


.footer_hours-three {
    flex: 5;
    margin-top: 28px;
    margin-left: -30px;
}


.footer_social {
    flex: 6;
    margin-left: -70px;
}


.footer_social-desc {
    display: flex;
    justify-content: space-evenly;
    margin-left: -35px;
    width: 200px;
}


.footer_headings {
    font-size: 24px;
    font-weight: bold;
    color: #335576;
}


.footer_desc-name {
    color: #DB7A4E;
    font-size: 10px;
    margin-top: 20px;
}


.footer_desc {
    color: #335576;
    font-size: 15px;
    margin-top: 10px;
}


.footer_social-icons {
    min-width: 25px;
    max-width: 25px;
    margin-top: 35px;
}


.footer_social-facebook {
    min-width: 13px;
    max-width: 13px;
    margin-top: 35px;
}